<div class="container">
	<ul>
		<% @entries.each do |entry| %>
			<li>
				<ul>
					<div class="entry">
						<div class="title-av" >
								<img src="<%= entry.user.avatar %>" class="avatar" >
						<h3>
							<a href="/entries/<%= entry.id %>"><%= entry.title.upcase %></a>
						</h3>
						</div>
						<li>
							<%= entry.body %>
							<br>
							<h4>Author: <%= entry.user.username %></h4>
							<h4>Tags: <%= entry.tags.join(" | ") %></h4>
			<% if session[:current_user] %>
	    	<%= erb :'_comment' %>
		 	<% else %>
				<h4><a href="/sessions/new">LOG IN TO COMMENT</a></h4>
		  <% end %>
						</li>
					</div>
				</ul>	
			</li>
		<% end %>
	</ul>
</div>

