<div class="container">
	<center>
<img src="http://31.media.tumblr.com/73ea69fb97feb13a85f1c122e0245092/tumblr_n7dvkuonHS1qcc8dao1_400.gif" >
</center>
	<ul>
		<% @entries.each do |entry| %>
			<li>
				<ul>
					<div class="entry">
						<div class="title-av" >
								<img src="<%= entry.user.avatar %>" class="avatar" >
						<h3>
							<a href="/entries/<%= entry.id %>"><%= entry.title.upcase %></a>
						</h3>
						</div>
						<li>
							<%= entry.body %>
							<br>
							<h4>Written by: <%= entry.user.username %></h4>
						</li>
					</div>
				</ul>	
			</li>
		<% end %>
	</ul>
</div>

